@model IEnumerable<Presta.net_app.Models.Estado>

@{
    ViewData["Title"] = "Index";
    var errorMessage = TempData["Error"] as string;
}

<h1 class="text-center">Lista de Estados</h1>
<div class="container mt-4">
    <div class="row justify-content-end align-items-center">
        <div class="col-auto d-flex">
            <a class="btn btn-success flex-fill me-1" asp-action="Create">
                Nuevo <i class="bi bi-plus-square"></i>
            </a>
            <a class="btn btn-secondary flex-fill me-1" asp-action="#">
                Importar <i class="bi bi-arrow-up-square"></i>
            </a>
        </div>
    </div>
</div>
@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="container mt-4">
        <div class="alert alert-danger" role="alert">
            @errorMessage
        </div>
    </div>
}
<div class="container mt-4">
    <table class="table table-striped">
        <thead class="bg-secondary bg-gradient text-white">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Descripcion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
