@model IEnumerable<Presta.net_app.Models.Estado>

@{
    ViewData["Title"] = "Index";
}

<h1>Estados</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Nuevo Estado</a>
</p>
<table class="table table-striped">
    <thead class="bg-secondary bg-gradient text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
