@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TP Final Laboratorio de Computación IV</h1>
    <h1 class="display-4">Simulador de Préstamos</h1>
    <h2 class="display-4">.Net Core - EntityFramework</h2>
    <p>Repositorio: <a href="#"></a>.</p>
    <a class="btn btn-success" asp-controller="Prestatarios" asp-action="Create">Otorgar nuevo Préstamo</a>
</div>
